---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
import Meet from '../components/Meet.astro';
---

<Layout title="Panpez">
	<Header/>
	<Meet/>
	
	<div class="flex justify-center text-white font-bold ">
		<h1 class="text-4xl" >
			My projects:
		</h1>
	</div>
	
	<div class=" mx-10 py-10 text-3xl text-white">
		Control de inventario

		<p class="text-sm py-5 w-1/2">
		Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga dolor repudiandae eaque quis reiciendis delectus commodi nesciunt nulla veritatis animi, illum repellendus exercitationem id nam doloribus dignissimos, ipsum, cupiditate consequuntur.
		</p>
	</div>


</Layout>


