<div class="flex">
    <div class="w-1/2 mx-28 my-32 text-white">
        <h1 class="text-3xl font-bold">
            Hola soy Alejandro!
        </h1>

        <p class="text-gray-500 pt-6 text-center">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus perspiciatis cum cupiditate 
            harum, architecto quos atque magni 
            ipsam doloremque non dicta eveniet eos nisi quaerat ipsum delectus dolorem temporibus vitae.
        </p>
    </div>
    <div class=" flex flex-row-reverse  ">
        <img class=" scale-x-75 scale-y-75 rounded-lg shadow-lg shadow-blue-700/70 " src="programmer.jpg" alt="">
    </div>
</div>